ul {
  background-color: rgb(187, 86, 103);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

li a {
  border-radius: 3px;
  color: #fff;
  display: block;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}
li a.active {
  text-decoration: underline;
}

li a:hover {
  background-color: #213547;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f9f9f9;
  }
}
